.logo-container {
  display: flex;
  align-items: center;
  width: 14%;
  height: 100%;
}

.logo-container .logo-image-container {
  width: 100px;
}

.logo-container .logo-image-container img {
  width: 50px;
}

.logo-container .logo-text-container {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.logo-container .logo-text-container .heading {
  font-size: 1rem;
  font-weight: 700;
  color: #363636;
}

.logo-container .logo-text-container .description {
  font-family: 'Dancing Script';
  font-size: 1rem;
  color: #363636;
}

@media (width < 570px) {
  .logo-container .logo-image-container {
    width: 70px;
  }
  .logo-container .logo-image-container img {
    width: 45px;
  }
  .logo-container .logo-text-container {
    height: 45px;
  }
  .logo-container .logo-text-container .heading {
    font-size: 0.8rem;
    font-weight: 700;
    color: #363636;
  }
  .logo-container .logo-text-container .description {
    font-family: 'Dancing Script';
    font-size: 0.8rem;
    color: #363636;
  }
}
